html{
    overflow: auto;
  
}
body{
   min-height: 500px;   
}
#pantalla1{
    height: 0;
}
img ,table{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-radius: 8px;
}
.fichas_rojas nav {
    background-color: red;
    color: white;

}

.fichas_verdes nav {
    background-color: green;
    color: white;

}

.fichas_amarillas nav {
    background-color: yellow;
    color: black;

}

.fichas_azules nav {
    background-color: blue;
    color: white;
}

.fichas_amarillas {
    z-index: 120;
    position: absolute;
    /* margin-left: 295px;
    margin-top: 356px;  */
    display: flex;
    top:0;
    left:0
   
}

.fichas_azules {
    z-index: 20;
    display: flex;
    position: absolute;
    top:0;
    left:0
}

.fichas_rojas {
    z-index: 90;
    display: flex;
    position: absolute;
    top:0;
    left:0
   
}

.fichas_verdes {
    z-index: 20;
    display: flex;
    position: absolute;
    top:0;
    left:0
   
}
.ficha {
    border: 1px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    /* float: left; */
    box-shadow: rgb(2 0 0 / 15%) 8.05px 4.95px 4.6px;
    background-image: linear-gradient(33deg, #c39999, #6e702700);
    /* margin-left: 5px; */
    cursor: pointer;
    position: absolute; 
    z-index: 20;
    text-align: center;
    vertical-align: middle;
    font-size: small;
}
.ficha .orden {
    width: 30px;
    height: 30px;
    top: 110px;
    margin-top: -2px;
    margin-left: -6px;
    text-align: center;
}
.situacion {
    visibility: hidden;
}

.caja_fichas{
    display: inline-flex;
}
#panel_parchis{
    min-width: 455px;
    min-height: 455px;
    max-width: 455px;
    max-height: 455px;
}
#panel_fichas,#panel_situacion{
    height: 100%;
    overflow: auto;
    max-height: 455px;
    display: flex;
    /* font-size: x-small !important; */
    /* width: 50%; */
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.casilla{
    margin: 4px;
    padding: 2px;
    border: outset !important;
    /* font-size: xx-small !important; */
    border-radius: 10px !important;
    
}
#panel_nav{
    overflow: auto;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    /* width: -webkit-fill-available;
    height: -webkit-fill-available; */
}
select{
    overflow: hidden;
    border: inset 2px !important;
    font-size: small !important;
    border-radius: 10px !important;
    padding: 2px;
    background-color: bisque !important;
}
option{
    border-radius: 10px !important;
    margin: 1px;
    padding: 3px;

}
.p_cell{
    /* border: solid !important; */
    border-radius: 10px !important;
    /* background-color: #c39999; */
    border: outset 3px !important;
}
#dado_valor{
    width:50px !important;
}